*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fundo{
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,216,70,1) 100%);
    height: 100vh;
    width: 100vw;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.name{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}

.calculadora{
    position: absolute;
    background: rgb(0, 0, 0, 0.8);
    top: 50%; 
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;

}

.botao{
    width: 50px;
    height: 50px;
    font-size: 22px;
    cursor: pointer;
    background-color: rgb(31,31,31);
    border: none;
    color: white;
    margin: 3px;
}


.botao:hover{
    background-color: black;
}

#resultado{
    background-color: white;
    width: 207px;
    height: 30px;
    margin: 5px;
    font-size: 22px;
    color: black;
    text-align: right;
    padding: 5px;
}